<h1>Log In</h1>

<form method="post">
    <label>Usuario: </label>
    <input type="text" name="usuario"
           class="form-control"/>
    <button type="submit" class="btn btn-info">
        Log In
    </button>
</form>