<h1>Vistas Parciales Ajax</h1>

@section Scripts
{ 
    <script>
        $(document).ready(function () {
            $("#botoncargarcoches").click(function () {
                $("#capacoches").load("/Coches/_CochesPartial");
            });
        });
    </script>
}

<button id="botoncargarcoches" class="btn btn-info">
    Cargar coches
</button>
<hr/>
@*AQUI ES DONDE PONDRIAMOS NUESTRA VENTANA MODAL*@
<div id="capacoches" style="background-color: lightgreen"></div>